.App {
  text-align: center;
  height: 100vh;;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  animation-direction: alternate;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: scale(1); }
  to { transform: scale(1.3); }
}

.mini-mall-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100vh - 190px);
  align-items: center;
}
.mini-mall-webview {
  height: 100%;
  min-width: 680px;
}

.checkout-interface {
  z-index: 4;
}
